.container {
    width: 100%; /* Adjust the container width for mobile screens */
}

.parg h2 {
    font-size: 30px; /* Adjust font size for h2 on mobile screens */
}

/* .container {
    margin: auto;
    width: 70%;
}

#navbar {
    display: flex;
    top: 0;
    padding: 1rem;
    justify-content: space-between;
    position: relative;
}

.image {
    position: relative;
    z-index: 1;
}

.parg {
    position: relative;
    z-index: 2;
    text-align: left;
}

.parg h2 {
    margin-bottom: 15px;
    font-size: 50px;
    width: 300px;
}

.right-person-img img {
    top: 50px;
}

.right-person-parg {
    background-color: aqua;
    left: 350px;
    padding-left: 2rem;
    padding-top: 3rem;
}

.features {
    display: grid;
    width: 500px;
    grid-template-areas: 
    'title'
    'box-1'
    'box-2'
    'box-3';
}

.features-5 {
    margin: auto;
    display: grid;
    width: 500px;
    grid-template-areas: 
    'card-1'
    'card-2'
    'card-3'
    'card-4'
    'card-5';
}

.features .box {
    margin: auto;
}

.features-5 .cards-combine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.features-5 .cards-combine .text p i {
    position: relative;
    top: 8px;
    border: solid;
    border-width: thin;
    padding: 6px;
    cursor: pointer;
}

.content {
    padding-left: 70px;
} */