/* Global Items */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: italic 'Fira Sans', serif;
}

.lead {
    font-size: 20px;
}

.clr {
    clear: both;
}

.container {
    margin: auto;
    width: 70%;
}

/* End of global items */

/* Navbar */
#navbar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
/* End of Navbar */

/* 4 Images under texts */
.image {
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 1;
}

.parg {
    width: 500px;
    height: 400px;
    position: relative;
    z-index: 2;
    text-align: left;
}

.parg h2 {
    margin-bottom: 15px;
    font-size: 50px;
    width: 300px;
}

.right-person-img img {
    top: 50px;
}

.right-person-parg {
    background-color: aqua;
    width: 400px;
    height: 400px;
    bottom: 400px;
    left: 350px;
    padding-left: 2rem;
    padding-top: 3rem;
}

.why-choose-img img {
    z-index: 2;
    left: 350px;
}

.why-choose-parg {
    background-color: yellow;
    width: 400px;
    height: 370px;
    padding-top: 2rem;
    padding-left: 3rem;
    z-index: 1;
    bottom: 390px;
}

.why-choose-parg h2 {
    font-size: 40px;
}

.human-resource-parg {
    background-color: blueviolet;
    color: #fff;
    width: 350px;
    height: 350px;
    bottom: 370px;
    left: 350px;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.best-service-img img {
    z-index: 2;
    left: 350px;
}

.best-service-parg {
    background-color: lightcoral;
    height: 350px;
    bottom: 370px;
    padding-left: 3rem;
    padding-top: 3rem;
    z-index: 1;
}

.best-service-parg p {
    margin-top: 10px;
}
/* End of 4 images under texts */

/* 3 Images beside texts */
.card {
    display: grid;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 625px;
    align-items: center;
    grid-gap: 6rem;
}

.card-left {
    grid-template-areas: 'image parg';
}

.card-right {
    grid-template-areas: 'parg image';
}

.anne-john-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    grid-area: image;
}

.anne-john-parg {
    text-align: left;
    grid-area: parg;
}

.anne-john-parg h2 {
    margin-bottom: 5px;
    font-size: 50px;
}

.better-card {
    margin-left: 0px;
    width: 100%;
    grid-gap: 2rem;
}

.better-img img {
    width: 270px;
    height: 250px;
    grid-area: image;
}

.better-parg {
    text-align: left;
    padding-bottom: 30px;
    grid-area: parg;
}

.better-img h2 {
    margin-bottom: 10px;
    font-size: 50px;
    grid-area: title;
}

.better-parg p {
    margin: 10px;
}
/* End of images beside texts */

/* 3 cards with title */
.features {
    margin: 50px auto;
    display: grid;
    grid-template-areas: 
    'title title title'
    'box-compensation box-leadership box-talent';
    grid-gap: 2rem;
}

.features .title {
    grid-area: title;
    text-align: center;
    padding-left: 10px;
    width: 810px;
    font-size: 31px;
}

.features .box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 300px;
}

.features img {
    width: 100%;
}

.features .box .text {
    margin-top: 15px;
    margin-left: 25px;
    text-align: left;
}

.features .box .text .btn {
    margin-top: 20px;
    border-width: thin;
    padding: 6px;
    cursor: pointer;
}

.features .box-compensation {
    grid-area: box-compensation;
    background-color: lightcoral;
}

.features .box-compensation .text .btn {
    background-color: lightcoral;
  }

.features .box-leadership {
    grid-area: box-leadership;
    background-color: #ffff01;
}

.features .box-leadership .text .btn {
    background-color: #ffff01;
}

.features .box-talent {
    grid-area: box-talent;
    background-color: aqua;
}

.features .box-talent .text .btn {
    background-color: aqua;
}
/* End of 3 cards */

/* 5 cards */
.features-5 {
    grid-template-areas: 
    'card-deliver card-blue card-orange'
    'card-deliver card-yellow card-offwhite';
}

.card-deliver {
    grid-area: card-deliver;
}

.features-5 .card-deliver .background-image {
    background: url('../img/ent1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 450px;
}

.features-5 .card-deliver .card-deliver-content {
    position: relative;
    width: 260px;
    height: 240px;
    top: 8px;
    left: 16px;
    background-color: rgba(255, 179, 151, 0.73);
}

.features-5 .card-deliver h2 {
    position: relative;
    top: 23px;
    left: 20px;
    color: white;
}

.features-5 .card-deliver p i {
    position: absolute;
    bottom: 23px;
    right: 20px;
    border: solid;
    border-width: thin;
    border-color: aliceblue;
    padding: 6px;
    cursor: pointer;
}

/* .features-5 .card-deliver p i {
    color: aliceblue;
} */

.features-5 .cards-combine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.features-5 .cards-combine .text p i {
    position: relative;
    top: 14px;
    border: solid;
    border-width: thin;
    padding: 10px;
    cursor: pointer;
} 

.features-5 .card-blue {
    grid-area: card-blue;
    background-color: aqua;
}

.features-5 .text {
    display: flex;
    padding: 14px;
}

.features-5 .text .card-content {
    width: 87%;
    text-align: left;
}

.card-orange {
    grid-area: card-orange;
    background-color: coral;
}

.card-yellow {
    grid-area: card-yellow;
    background-color: khaki;
}

.card-offwhite {
    grid-area: card-offwhite;
    background-color: gainsboro;
}
/* End of 5 cards */

/* Title moove over card */
.center-content {
    text-align: center;
    position: relative;
    right: 95px;
}

.title-moove {
    font-size: 50px;
    color: indigo;
    position: relative;
    right: 100px;
    bottom: 0px;
    z-index: 2;
}

.text-moove-card {
    background-color: blueviolet;
    padding: 35px;
    color: #fff;
    position: relative;
    width: 400px;
    bottom: 40px;
    left: 420px;
    z-index: 1;
}

.text-moove-card p {
    text-align: left;
    margin-top: 30px;
}
/* End of title moove over card */

/* Title yellow over card */
.title-black {
    font-size: 60px;
    position: relative;
    left: 20px;
    bottom: 0px;
    z-index: 2;
}

.text-yellow-card {
    background-color: yellow;
    padding: 35px;
    position: relative;
    width: 350px;
    left: 150px;
    bottom: 40px;
    z-index: 1;
}

.text-yellow-card p {
    text-align: left;
    margin-top: 30px;
}
/* End of title yellow over card */

/* Circle */
.circle {
    margin: 50px auto;
    width: 60%;
    display: grid;
    grid-gap: 2rem;
    align-items: center;
}

.circle-template {
    grid-template-areas: 
    'text number';
}

.circle .number-circle h2 {
    font-size: 60px;
    position: relative;
    top: 30%;
    left: 43%;
}

.circle .text-circle {
    grid-area: text;
}

.circle .text-circle p {
    margin-top: 5px;
}

/* baby blue circle */
.circle .blue-circle {
    grid-area: number;
    background-color: aqua;
    color: cadetblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of baby blue circle */

/* Yellow circle */
.circle-template-yellow {
    grid-template-areas: 
    'number text';
}

.circle .yellow-circle {
    grid-area: number;
    background-color: yellow;
    color: burlywood;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of yellow circle */

/* red circle */
.circle .red-circle {
    grid-area: number;
    background-color: crimson;
    color: coral;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of red circle */

/* Image with text with white background */
.recruiter-agency-img {
    margin: 50px 0px;
    background: url('../img/ent1.jpg') no-repeat center center/cover;
    height: 500px;
}

.recruiter-agency-img .text-flex {
    position: relative;
    left: 30%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 400px;
    height: 90px;
}

.recruiter-agency-img .text-flex p i {
    position: relative;
    top: 5px;
    left: 5px;
    border: solid;
    border-width: thin;
    padding: 7px;
    cursor: pointer;
}
/* End of Image background with text with white background */

/* Image beside text */
.developement-card {
    display: grid;
    margin-bottom: 50px;
    align-items: center;
    grid-gap: 6rem;
}

.developement-card .better-parg h2 {
    font-size: 40px;
    line-height: 2.5rem;
}

.developement-card .better-parg p {
    margin: 0;
    margin-top: 10px;
}

.better-parg .btn {
    border: solid;
    padding: 8px;
    margin-top: 20px;
}
/* End of Image beside text */

/* Red background with text with red back ground */
.background-red {
    margin: 50px 0px;
    background-color: lightcoral;
    height: 250px;
}

.background-red .background-text {
    padding: 20px;
    text-align: center;
    width: 50%;
    position: relative;
    top: 80px;
    left: 25%;
    background-color: darksalmon;
}
/* End Red background with text with red back ground */

/* Text 'About a human' */
.about-human {
    margin: 70px auto;
}

.about-human h2 {
    font-size: 50px;
    margin: 20px 0;
}

.about-human p {
    margin: 20px 0;
}
/* End of text */

/* Two pictures with text inside */
#showcase {
    background: url('../img/ent1.jpg') no-repeat center center/cover;
    height: 400px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

#showcase .showcase-content h2 {
    line-height: 1.5em;
}


#showcase .showcase-content p {
    padding: 5px 0;
    line-height: 1.2em;
}

#showcase .showcase-content .are-you-ready-h2 {
    font-size: 35px;
}
/* End of 2 pictures */

/* Boxes with text and button */
.boxes {
    margin: 50px 0;
}

.content-position {
    padding: 20px;
    border: solid;
    border-width: thick;
    line-height: 2rem;
}

.content-position .content-space {
    display: flex;
    justify-content: space-between;
}

.content-position button {
    padding: 5px;
    margin-top: 12px;
    border: solid;
    border-width: thin;
}

/* Yellow Box */
.yellow-box {
    border-color: yellow;
    position: relative;
    left: 80px;
}

.content-position .yellow-color {
    border-color: yellow;
}
/* End of Yellow Box */

/* moove color */
.moove-box {
    border-color: blueviolet;
}

.content-position .moove-color {
    border-color:blueviolet;
}
/* End of moove box */
/* End of boxes with text and button */

/* 3 cards with shadow */
.card-shadow {
    margin: 50px 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: 
    'box-john-deer box-susan box-bob';
}

.card-shadow .box-shadow img {
    width:100%; height: 75%;
}

.card-shadow .box-john-deer {
    grid-area: box-john-deer;
    background-color: brown;
    box-shadow: -10px -10px 5px rgb(243, 84, 84);
}

.card-shadow .box-susan {
    grid-area: box-susan;
    background-color: aqua;
    box-shadow: -10px -10px 5px rgb(184, 255, 255);
}

.card-shadow .box-bob {
    grid-area: box-bob;
    background-color: #ffff01;
    box-shadow: -10px -10px 5px #e9ff9b;
}

.card-shadow .box-shadow {
    height: 250px;
}

.card-shadow .box-shadow .text {
    margin: 7px;
    line-height: 1.2rem;
}
/* End of the 3 cards with shadow */

/* Last card */
.pcia-card {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
}

.pcia-card .img-right {
    background-color: aqua;
    grid-area: image;
}

.pcia-card .img-right img {
    width: 250px;
    height: 50%;
}

.pcia-card .img-right p {
    margin: 20px;
}

.pcia-card .pcia-text {
    grid-area: parg;
    text-align: left;
    padding: 40px;
}

.pcia-card .pcia-text h2 {
    font-size: 40px;
}

.pcia-card .pcia-text p {
    margin-top: 10px;
}
/* end of the last text beside card */

/* footer */
footer {
    margin-top: 40px;
    background-color: aqua;
    text-align: center;
    padding: 60px;
    line-height: 4rem;
}

footer .title-footer {
    position: relative;
    bottom: 20px;
}

footer .about-grid {
    display: grid;
    grid-template-areas: 'parg-1 parg-2';
    line-height: 1.2rem;
}

footer .about-grid .left {
    grid-area: parg-1;
    text-align: left;
    width: 50%;
}

footer .about-grid .right {
    grid-area: parg-2;
    text-align: left;
}

footer .logos-grid {
    margin-top: 30px;
    display: grid;
    grid-template-areas: 'images parg';
}

footer .logos-grid .left {
    grid-area: images;
    text-align: left;
}

footer .logos-grid .right {
    grid-area: parg;
    text-align: right;
}