/* Global Items */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: italic 'Fira Sans', serif;
}

.lead {
    font-size: 20px;
}

.clr {
    clear: both;
}

.container {
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 300px;
}

.container-basic {
    margin: 50px;
}
/* End of global items */

/* Navbar */
#navbar {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}
/* End of Navbar */

/* 4 Images under texts */
.container .image {
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 1;
}

.container .parg {
    width: 200px;
    height: 300px;
    position: absolute;
    z-index: 2;
    text-align: left;
    padding: 1.6rem;
}

.container .parg h1 {
    margin-bottom: 15px;
}

.container .first-img img {
    bottom: -35px;
    left: 0px;
}

.container .first-parg {
    background-color: aqua;
    width: 250px;
    height: 280px;
    top: -20px;
    right: 70px;
    padding-left: 1rem;
    padding-top: 3rem;
}

.container .first-parg h1 {
    width: 133px;
}

.container .second-img img {
    width: 230px;
    bottom: -10px;
    right: 85px;
}

.container .second-parg {
    background-color: yellow;
    width: 250px;
    height: 250px;
    padding-top: 2rem;
    padding-left: 0.5rem;
    top: 30px;
    left: 0px;
}

.container .second-parg h1 {
    width: 131px;
}

.container .third-img img {
    width: 230px;
    height: 280px;
    bottom: -10px;
    left: 0px;
}

.container .third-parg {
    background-color: blueviolet;
    color: #fff;
    height: 200px;
    top: 60px;
    right: 95px;
}

.container .fourth-img img {
    width: 230px;
    bottom: -5px;
    right: 40px;
}

.container .fourth-parg {
    background-color: lightcoral;
    width: 260px;
    height: 260px;
    padding-left: 1rem;
    padding-top: 1.5rem;
    top: 20px;
    left: 0px;
}
/* End of 4 images under texts */

/* 3 Images beside texts */
.card {
    display: grid;
    margin: auto;
    width: 500px;
    position: relative;
    align-items: center;
    grid-gap: 2rem;
}

.card-space {
    margin: 50px;
}

.card-left {
    grid-template-areas: 'image parg';
}

.card-right {
    grid-template-areas: 'parg image';
}

.fifth-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    grid-area: image;
}

.fifth-parg {
    text-align: left;
    grid-area: parg;
}

.fifth-parg h1 {
    margin-bottom: 5px;
    font-size: 35px;
}

.card-right .sixth-img img {
    width: 200px;
    height: 250px;
    grid-area: image;
}

.card-right .sixth-parg {
    text-align: left;
    padding-bottom: 30px;
    grid-area: parg;
}

.card-right .sixth-img h1 {
    margin-bottom: 10px;
    font-size: 35px;
    grid-area: title;
}
/* End of images beside texts */

/* 3 cards with title */
.features {
    margin: auto;
    display: grid;
    width: 784px;
    grid-template-areas: 
    'title title title'
    'box-1 box-2 box-3';
    grid-gap: 1rem;
}

.features .title {
    grid-area: title;
    text-align: center;
    font-size: 31px;
}

.features .box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    height: 300px;
}

.features .box .text {
    margin-top: 15px;
    margin-left: 25px;
    text-align: left;
}

.features .box .text .btn {
    line-height: 4rem;
}

.features .box .text button {
    border-width: thin;
    padding: 6px;
    cursor: pointer;
  }

.features .box-1 {
    grid-area: box-1;
    background-color: lightcoral;
}

.features .box-1 .text button {
    background-color: lightcoral;
  }

.features .box-2 {
    grid-area: box-2;
    background-color: #ffff01;
}

.features .box-2 .text button {
    background-color: #ffff01;
}

.features .box-3 {
    grid-area: box-3;
    background-color: aqua;
}

.features .box-3 .text button {
    background-color: aqua;
}
/* End of 3 cards */

/* 5 cards */
.features-5 {
    margin: auto;
    display: grid;
    width: 784px;
    grid-template-areas: 
    'card-1 card-2 card-3'
    'card-1 card-4 card-5';
    grid-gap: 1rem;
}

.card-1 {
    grid-area: card-1;
}

.features-5 .card-1 .background-image {
    background: url('../img/ent1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 350px;
}

.features-5 .card-1 .card-1-content {
    position: relative;
    width: 260px;
    height: 240px;
    top: 8px;
    left: 16px;
    background-color: rgba(255, 179, 151, 0.73);
}

.features-5 .card-1 h3 {
    position: relative;
    top: 23px;
    left: 20px;
    color: white;
}

.features-5 .card-1 p {
    position: absolute;
    bottom: 23px;
    right: 20px;
    border: solid;
    border-width: thin;
    border-color: aliceblue;
    padding: 6px;
    cursor: pointer;
}

.features-5 .card-1 p i {
    color: aliceblue;
}

.features-5 .cards-combine {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.features-5 .cards-combine .text p i {
    position: relative;
    top: 14px;
    border: solid;
    border-width: thin;
    padding: 6px;
    cursor: pointer;
} 

.features-5 .card-2 {
    grid-area: card-2;
    background-color: aqua;
}

.features-5 .text {
    display: flex;
    padding: 14px;
}

.features-5 .text .card-content {
    width: 87%;
    text-align: left;
}

.card-3 {
    grid-area: card-3;
    background-color: coral;
}

.card-4 {
    grid-area: card-4;
    background-color: khaki;
}

.card-5 {
    grid-area: card-5;
    background-color: gainsboro;
}
/* End of 5 cards */

/* Title moove over card */
.center-content {
    margin: 50px;
    text-align: center;
}
.title-moove {
    font-size: 50px;
    color: indigo;
    position: relative;
    right: 100px;
    bottom: 0px;
    z-index: 2;
}

.text-moove-card {
    background-color: blueviolet;
    padding: 35px;
    color: #fff;
    position: relative;
    width: 400px;
    bottom: 40px;
    left: 420px;
    z-index: 1;
}

.text-moove-card p {
    text-align: left;
    margin-top: 30px;
}
/* End of title moove over card */

/* Title yellow over card */
.title-black {
    font-size: 60px;
    position: relative;
    left: 20px;
    bottom: 0px;
    z-index: 2;
}

.text-yellow-card {
    background-color: yellow;
    padding: 35px;
    position: relative;
    width: 350px;
    left: 150px;
    bottom: 40px;
    z-index: 1;
}

.text-yellow-card p {
    text-align: left;
    margin-top: 30px;
}
/* End of title yellow over card */

/* Circle */
.circle {
    width: 60%;
    margin: auto;
    display: grid;
    grid-gap: 2rem;
    align-items: center;
}

.circle-template {
    grid-template-areas: 
    'text number';
}

.circle .number-circle h1 {
    font-size: 60px;
    position: relative;
    top: 30%;
    left: 43%;
}

.circle .text-circle {
    grid-area: text;
}

.circle .text-circle p {
    margin-top: 5px;
}

/* baby blue circle */
.circle .blue-circle {
    grid-area: number;
    background-color: aqua;
    color: cadetblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of baby blue circle */

/* Yellow circle */
.circle-template-yellow {
    grid-template-areas: 
    'number text';
}

.circle .yellow-circle {
    grid-area: number;
    background-color: yellow;
    color: burlywood;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of yellow circle */

/* red circle */
.circle .red-circle {
    grid-area: number;
    background-color: crimson;
    color: coral;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* end of red circle */

/* Text 'About a human' */
.content {
    padding-left: 145px;
}

.content h1 {
    font-size: 30px;
    line-height: 3rem;
}
/* End of text */

/* Two pictures with text inside */
#showcase {
    background: url('../img/ent1.jpg') no-repeat center center/cover;
    height: 400px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

#showcase .showcase-content h1 {
    line-height: 1.5em;
}


#showcase .showcase-content p {
    padding: 5px 0;
    line-height: 1.2em;
}

#showcase .showcase-content .second-h1 {
    font-size: 35px;
}
/* End of 2 pictures */

/* Boxes with text and button */
.content-position {
    padding: 20px;
    border: solid;
    border-width: thick;
    line-height: 2rem;
}

.content-position .content-space {
    display: flex;
    justify-content: space-between;
}

.content-position button {
    padding: 5px;
    margin-top: 12px;
    border: solid;
    border-width: thin;
}

/* Yellow Box */
.yellow-box {
    border-color: yellow;
    margin-left: 150px;
    margin-right: 150px;
}

.content-position .yellow-color {
    border-color: yellow;
}
/* End of Yellow Box */

/* moove color */
.moove-box {
    border-color: blueviolet;
    margin-right: 250px;
}

.content-position .moove-color {
    border-color:blueviolet;
}
/* End of moove box */
/* End of boxes with text and button */

/* 3 cards with shadow */
.card-shadow {
    display: grid;
    margin: auto;
    grid-template-areas: 
    'box-1 box-2 box-3';
}

.card-shadow .box-1 {
    grid-area: box-1;
    background-color: brown;
    box-shadow: -10px -10px 5px brown;
}

.card-shadow .box-2 {
    grid-area: box-2;
    background-color: aqua;
    box-shadow: -10px -10px 5px aqua;
}

.card-shadow .box-3 {
    grid-area: box-3;
    background-color: #ffff01;
    box-shadow: -10px -10px 5px #ffff01;
}

.card-shadow .box-shadow {
    width: 200px;
    height: 250px;
}

.card-shadow .box-shadow .text {
    margin: 7px;
    line-height: 1.2rem;
}
/* End of the 3 cards with shadow */

/* Last card */
.last-card {
    display: grid;
    position: relative;
    align-items: center;
    grid-gap: 1rem;
}

.last-card .img-right {
    width: 250px;
    height: 380px;
    background-color: aqua;
    grid-area: image;
}

.last-card .img-right img {
    width: 250px;
    height: 50%;
}

.last-card .img-right p {
    margin: 20px;
}

.last-card .text-left {
    grid-area: parg;
    text-align: left;
    padding: 40px;
}

.last-card .text-left h1 {
    font-size: 40px;
}
/* end of the last text beside card */

/* footer */
footer {
    background-color: aqua;
    text-align: center;
    padding: 60px;
    line-height: 4rem;
}

footer .title-footer {
    position: relative;
    bottom: 20px;
}

footer .first-grid {
    display: grid;
    grid-template-areas: 'parg-1 parg-2';
    line-height: 1.2rem;
}

footer .first-grid .left {
    grid-area: parg-1;
    text-align: left;
    width: 50%;
}

footer .first-grid .right {
    grid-area: parg-2;
    text-align: left;
}

footer .second-grid {
    margin-top: 30px;
    display: grid;
    grid-template-areas: 'images parg';
}

footer .second-grid .left {
    grid-area: images;
    text-align: left;
}

footer .second-grid .right {
    grid-area: parg;
    text-align: right;
}